<template name="addProduct">
  <!-- Only if user logins into the system, the function can be seen and used. -->
  {{#if currentUser}}
  <div style="text-align:center;">
    <h2>Add a new product</h2>
  </div>
  <br>

  <form class="form-horizontal" role="form">
    <br>
    <div class="form-group">

      <label>Product SKU:</label>
      <div>
        <input type="text" class="form-control" name="productSKU" required>
      </div>
    </div>
    <div class="form-group">
      <label>Unit Price:</label>
      <div>
        <input type="text" class="form-control" name="price" required>
      </div>
    </div>
    <br>
    <div class="form-group">

      <label>Product Description :</label>
      <div>
        <textarea name="description" rows="8" cols="160"></textarea>
      </div>
    </div>
    <br>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block"/>
  </form>
  {{/if}}
</template>
