<template name="content">
  <br>
  {{#if isInRole 'admin'}}
  <div style="text-align:center">
    <h2>The list of new users awaiting for approvement!</h2>
  </div>
    {{> newUsersList}}
    <br>
    <br>
    {{> registerDate}}
  {{/if}}
  {{#if isInRole 'client'}}
  <div style="text-align:center">
    <h2>Hello!</h2>
  </div>
  {{/if}}
</template>


<template name="newUsersList">
  <div class="posts">
  <table class="table table-hover">
  <caption></caption>
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Company Name</th>
      <th>Created At</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{> client}}
  </tbody>
</table>
  </div>
</template>

<template name="client">
    {{#each client}}
    <tr>
      <td><input type="hidden" name="clientName" value="{{name}}">{{name}}</td>
      <td><input type="hidden" name="companyName" value="{{companyName}}">{{companyName}}</td>
      <td><input type="hidden" name="BRN" value="{{BusinessRegistrationNo}}">{{date}}</td>
      <td><input type="hidden" name="email" value="{{email}}">{{email}}</td>
      <td><input type="submit" value="Approve" class="btn btn-primary approve"></td>
    </tr>
    {{/each}}
</template>

<template name="registerDate">
  <table class="table table-hover">
  <caption style="text-align:center">Number of new registeration</caption>
  <thead>
    <tr>
      <th>Weekly</th>
      <th>Monthly</th>
      <th>Yearly</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each day}}
      <td>{{this}}</td>
      {{/each}}
    </tr>
  </tbody>
</table>

</template>
