<!-- A template that constructs the header. -->
<template name="header">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">

          {{#if currentUser}}
          <ul class="nav navbar-nav">
              {{#if isInRole 'admin'}}
              <li><a href="/export">Export</a></li>
              <li><a href="/content">Registration Approvement</a></li>
              <li><a href="/manage">User Management</a></li>
              <li><a href="/addProduct">Add a product</a></li>
              <li><a href="/deleteProduct">Delete a product</a></li>
              {{/if}}
              {{#if isInRole 'client'}}
              <li><a href="generateQuotation">Generate quotations</a></li>
               {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/changePwd" class="changePassword"> Change password </a></li>
              <li><a href="#" class="logout"> Logout </a></li>
          </ul>
        {{else}}
        <ul class="nav navbar-nav">
            <li><a href="newUsers">Signup as clients</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        {{/if}}
    </div>
    </div>
  </nav>
  {{#if currentUser}}
    <div class="jumbotron text-center">
    <h2>Welcome to Quotation Helper!</h2>
    </div>
    {{#if isInRole 'admin'}}
    <div class=" text-center">
    <h2></h2>
    </div>
    {{/if}}
  {{else}}
    <div class="jumbotron text-center">
    <h2>Please login to the system</h2>
    </div>
  {{/if}}

</template>
