<template name="login">
  <!-- Only if user logins into the system, the function can be seen and used. -->
  <div style="text-align:center;">
    <h2>Login</h2>
  </div>
  <br>

  <form class="form-horizontal" role="form">
    <div class="form-group">

      <label class="col-lg-3 control-label">Username :</label>
      <div class="col-lg-6">
        <input type="email" class="form-control" name="loginEmail" placeholder="" required>
      </div>

    </div>
    <br>
    <br>
    <div class="form-group">
      <label class="col-lg-3 control-label">Password :</label>
      <div class="col-lg-6">
        <input type="password" class="form-control" name="loginPassword" required>
      </div>
    </div>
    <br>
    <br>
    <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block"/>
  </form>
</template>
