<template name="manageUsers">
  <br>
  {{#if isInRole 'admin'}}
  <div style="text-align:center">
    <h2>The list of registered users</h2>
    {{>usersList}}
  </div>
  {{/if}}
</template>

<template name="usersList">
  <div class="posts">
    <select id="choice" class="form-control">
      <option value="0">------</option>
      <option value="1">Half yearly non active users</option>
      <option value="2">Monthly top 50 active users</option>
      <option value="3">Yearly top 100 active users</option>
    </select>
  <table class="table table-hover">
  <caption></caption>
  <thead>
    <tr>
      <th style="text-align:center">Company Name</th>
      <th style="text-align:center">Company Address</th>
      <th style="text-align:center">Contact</th>
      <th style="text-align:center">Last Login</th>
      <th style="text-align:center">Manage</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
    <td><input type="text" name="companyName" value="{{companyName}}" data-id="{{_id}}"></td>
    <td><input type="text" name="companyAddress" value="{{companyAddress}}" data-id="{{_id}}"></td>
    <td><input type="text" name="companyContact" value="{{companyContact}}" data-id="{{_id}}"></td>
    <td>{{date}}</td>
    <td><input type="submit" class="btn btn-primary save" value="Save">
    <input type="submit" class="btn btn-danger delete" value="Delete"></td>
    </tr>
    {{/each}}
  </tbody>
  </table>
  </div>
</template>
